/* BASE COLORS */
$black: #141c3a;
$white: white;

$simple-grey: #f3f5f7;
$bar-grey: #dddddd;
$mid-grey: #8a8a8a;
$dark-grey: #1a4682;

$dark-blue: #10375e;
$light-blue: #1d79ff;
$green: #28ca41;
$orange: #ffbd2e;
$red: #ff5f57;

/* GRADIENTS */

/* FONTS */
$default-font-size: 1.6rem;
$header-size: 2em;
$header-weight: 700;

/* PADDING */
$title-padding: 1em 0;
