@import '../main.scss';

.about {
  // position: relative;
  font-size: $default-font-size;
  margin-bottom: 10em;
  @include respond(tab-port) {
    margin-bottom: 8em;
  }
  &-top {
    margin: -5px 2%;
    padding-top: 14rem;
    text-align: center;
    img {
      display: inline-block;
      width: 55%;
      @include respond(tab-port) {
        width: 80%;
      }
    }
  }
  &-bottom {
    background: $light-blue;
    padding-bottom: 5rem;

    &-title {
      padding: $title-padding;
      width: 100%;
      text-align: center;
      color: $white;
      font-weight: bolder;
      font-size: $header-size;
    }
    &-bullets {
      width: 70%;
      margin: auto;
      color: $white;
      font-weight: 300;
      @include respond(tab-port) {
        width: 98%;
      }
      li {
        padding: 2rem 0;
        display: flex;
        @include respond(tab-port) {
          flex-direction: column;
          padding: 2rem 0;
        }
      }
      &-img {
        width: 10%;
        @include respond(tab-port) {
          width: 50px;
          margin: auto;
        }

        img {
          width: 100%;
        }
      }
      &-copy {
        // display: none;
        width: 90%;
        padding-left: 2rem;
        @include respond(tab-port) {
          padding: 0 2rem;
        }
      }
    }
  }
}
