@import '../main.scss';

.about {
  // strong {
  //   font-weight: 600;
  // }
  h2 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: -3rem;
  }

  p {
    margin: 3rem 0;
  }
  // position: relative;
  font-size: 1.7rem;
  line-height: 2.5rem;
  margin-bottom: 10rem;
  @include respond(tab-port) {
    margin-bottom: 8em;
  }

  &-profile-img {
    margin: 0rem 0 4rem 0;
    // padding-top: 4rem;/
    text-align: center;
    img {
      border-radius: 50%;
      height: 25rem;
    }
  }

  &-bottom {
    background: $light-blue;
    padding-bottom: 5rem;
    &-body {
      display: flex;
    }

    &-title {
      padding: $title-padding;
      width: 100%;
      text-align: center;
      color: $white;
      font-weight: bolder;
      font-size: $header-size;
    }
    &-bullets {
      width: 80%;
      margin: auto;
      color: $white;
      font-weight: 300;

      @include respond(tab-port) {
        width: 98%;
      }

      img {
        padding-right: 2rem;
        display: block;
        width: 15%;
        margin: 20px auto;
        float: left;
      }
      li {
        padding: 2rem 0;
        display: flex;
        @include respond(tab-port) {
          flex-direction: column;
          padding: 2rem 0;
        }
      }
      &-copy {
        // display: none;
        width: 90%;
        padding-left: 2rem;
        @include respond(tab-port) {
          padding: 0 2rem;
        }
      }
    }
  }
}
