@import '../main.scss';
.header {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.07);
  position: relative;
  height: 450px;
  width: 100%;
  overflow: hidden;

  @include respond(tab-land) {
    max-height: 300px;
  }

  @include respond(phone) {
    height: 200px;
  }

  &-title {
    color: $black;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 1.3rem;
  }
  &-subtitle {
    color: $black;
    font-weight: light;
    font-size: 2.4rem;
    text-align: center;
  }

  &-links {
    position: absolute;
    color: $black;
    bottom: 30%;
    right: 20px;
    @include respond(tab-port) {
      bottom: 10%;

      // display: flex;
      // justify-content: space-between;
      // width: 100%;
    }
    @include respond(tab-land) {
      display: flex;
      justify-content: space-between;
      bottom: 5px;
      right: 25%;
      width: 50%;
    }

    &-icons {
      // width: 35px;
      width: 35px;
      height: 35px;
      display: block;
      padding-top: 20px;
      transition: all 0.3s;
      fill: $black;

      @include respond(tab-land) {
        padding-bottom: 10px;
      }
      &:hover {
        transform: scale(1.2);
        fill: $light-blue;
      }
    }
    // img {
    //   display: none;
    //   transition: all 0.3s;
    //   &:hover {
    //     transform: scale(1.2);
    //   }
    //   display: block;
    //   width: 25px;
    //   padding-top: 20px;
    //   @include respond(tab-port) {
    //     width: 18px;
    //   }
    // }
  }

  &-image {
    position: absolute;
    bottom: -5px;
    transform: translate(50%, 0%);
    @include respond(tab-land) {
      display: none;
    }
  }
}
